<div class="container">
  <section>
    <img class="avatar" src="../assets/img/Website_photo.JPG"/>

  <h1>
    NuttyAndee
  </h1>

  <div class="logo-container">
    <a class="link" href="https://onlyfans.com/nuttyandee">
      <img class="logo"
      src="../assets/img/Onlyfans_logo.png"
      />
    </a>

    <a class="link" href="https://www.tiktok.com/@nuttyandee">
      <img class="logo"
      src="../assets/img/Tiktok_logo.png"
      />
    </a>

    <a class="link" href="https://instagram.com/nuttyandee">
      <img class="logo"
      src="../assets/img/Instagram_logo.png"
      />
    </a>
    
    <a class="link" href="https://twitter.com/NuttyAndee">
      <img class="logo"
      src="../assets/img/Twitter_Logo.png"
      />
    </a>

  </div>

  </section>
</div>